.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sort-by {
  color: #64748b;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  padding-left: 4px;
}
.drop-down-box {
  display: flex;
  margin-right: 70px;
}
.sorting-cont {
  display: flex;
  justify-content: space-between;
}
.sort-by-select {
  outline: none;
  border: none;
  color: #64748b;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
}
.home-para {
  color: #64748b;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0px;
  margin-left: 80px;
}
.home-heading {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
  margin-bottom: 0px;
  padding-top: 30px;
  margin-left: 80px;
}
.filter-icon {
  color: #475569;
  font-size: 26px;
  margin-top: 8px;
}
